PORT=3000
SMTP_HOST=smtp.seuprovedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=seu_usuario
SMTP_PASS=sua_senha
MAIL_FROM="Ouvidoria Olsen <no-reply@olsenbusiness.com.br>"
MAIL_TO=gestaopessoas@olsenbusiness.com.br
